.button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 6px 15px;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-size-m);
  height: var(--font-line-m);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-family: var(--font-family-main);
}

.square.size_l {
  width: var(--font-size-l);
  height: var(--font-line-l);
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-family: var(--font-family-main);
}

.square.size_xl {
  width: var(--font-size-xl);
  height: var(--font-line-xl);
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-family: var(--font-family-main);
}

.size_m {
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-family: var(--font-family-main);
}

.size_l {
  font-size: var(--font-size-l);
  line-height: var(--font-line-l);
  font-family: var(--font-family-main);
}

.size_xl {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  font-family: var(--font-family-main);
}
